<!DOCTYPE html>
<html>

  <head>
    <title>REST API Knowledge Base</title> 
  </head>

  <body>

    <h1> New York Times API </h1>
    <h6> Top story: <a href="{{ link }}"> {{ top_story }} </a> </h6>

    <h1> Dark Sky API </h1>
    <h6> Currently {{ weather }} at {{ degrees }} degrees Fahrenheit<br>at 345 Chambers Street. </h6>

    <h1> ISS Current Location API </h1>
    <h6> As of {{ time }} milliseconds from epoch,<br>the ISS is at {{ latitude }},{{ longitude }}</h6>

    <footer>
      <hr>
      <em> Raymond Wu </em>
    </footer>
    
  </body>

</html>
