<!DOCTYPE html>
<html>
  <head>
    <title> Occupations </title>
    <style>
      a {
      color: blue;
      }
    </style>
  </head>

  <body>

    <h2> Information about occupations in the United States (courtesy of Mr. Brooks) </h2>

    <!-- elem 0 in the value (list) of an occupation is the percentage -->
    <!-- elem 1 in the value (list) of an occupation is the link -->
    <h3> Random occupation: <a href="{{ occupations[randomOccupation][1] }}">{{ randomOccupation }}</a> </h3>
    
    <table border="1">

      <tr>
	<th>Name</th>
	<th>Percentage</th>
      </tr>

      {% for occupation in occupations %}
      <tr>
	<td><a href="{{ occupations[occupation][1] }}">{{ occupation }}</a></td> 
	<td>{{ occupations[occupation][0] }}</td>
      </tr>

      {% endfor %}

    </table>

  </body>
</html>
